section.pokebola
  background-color white
  width 10px
  height 0px
  margin 10px
.pokebola
  box-shadow 0px 0px 0px 10px white,
             10px 0px 0px 10px white,
             20px 0px 0px 10px white,
             30px 0px 0px 10px white,
             40px 0px 0px 10px white,
             50px 0px 0px 10px white,
             60px 0px 0px 10px white,
             70px 0px 0px 10px white,
             80px 0px 0px 10px white,
             90px 0px 0px 10px white,
             100px 0px 0px 10px white,
             110px 0px 0px 10px white,
             120px 0px 0px 10px white,
             130px 0px 0px 10px white,
             140px 0px 0px 10px white,
             
             0px 10px 0px 10px white,
             10px 10px 0px 10px white,
             20px 10px 0px 10px white,
             30px 10px 0px 10px white,
             40px 10px 0px 10px white,
             50px 10px 0px 10px white,
             60px 10px 0px 10px black,
             70px 10px 0px 10px black,
             80px 10px 0px 10px black,
             90px 10px 0px 10px black,
             100px 10px 0px 10px white,
             110px 10px 0px 10px white,
             120px 10px 0px 10px white,
             130px 10px 0px 10px white,
             140px 10px 0px 10px white,
             
             0px 20px 0px 10px white,
             10px 20px 0px 10px white,
             20px 20px 0px 10px white,
             30px 20px 0px 10px white,
             40px 20px 0px 10px black,
             50px 20px 0px 10px black,
             60px 20px 0px 10px red,
             70px 20px 0px 10px red,
             80px 20px 0px 10px red,
             90px 20px 0px 10px red,
             100px 20px 0px 10px black,
             110px 20px 0px 10px black,
             120px 20px 0px 10px white,
             130px 20px 0px 10px white,
             140px 20px 0px 10px white,
             
             0px 30px 0px 10px white,
             10px 30px 0px 10px white,
             20px 30px 0px 10px white,
             30px 30px 0px 10px black,
             40px 30px 0px 10px red,
             50px 30px 0px 10px red,
             60px 30px 0px 10px silver,
             70px 30px 0px 10px red,
             80px 30px 0px 10px red,
             90px 30px 0px 10px red,
             100px 30px 0px 10px red,
             110px 30px 0px 10px red,
             120px 30px 0px 10px black,
             130px 30px 0px 10px white,
             140px 30px 0px 10px white,
             
             0px 40px 0px 10px white,
             10px 40px 0px 10px white,
             20px 40px 0px 10px white,
             30px 40px 0px 10px black,
             40px 40px 0px 10px red,
             50px 40px 0px 10px silver,
             60px 40px 0px 10px white,
             70px 40px 0px 10px silver,
             80px 40px 0px 10px red,
             90px 40px 0px 10px red,
             100px 40px 0px 10px red,
             110px 40px 0px 10px red,
             120px 40px 0px 10px black,
             130px 40px 0px 10px white,
             140px 40px 0px 10px white,
             
             0px 50px 0px 10px white,
             10px 50px 0px 10px white,
             20px 50px 0px 10px black,
             30px 50px 0px 10px red,
             40px 50px 0px 10px red,
             50px 50px 0px 10px red,
             60px 50px 0px 10px silver,
             70px 50px 0px 10px red,
             80px 50px 0px 10px red,
             90px 50px 0px 10px red,
             100px 50px 0px 10px red,
             110px 50px 0px 10px red,
             120px 50px 0px 10px red,
             130px 50px 0px 10px black,
             140px 50px 0px 10px white,
             
             0px 60px 0px 10px white,
             10px 60px 0px 10px white,
             20px 60px 0px 10px black,
             30px 60px 0px 10px red,
             40px 60px 0px 10px red,
             50px 60px 0px 10px red,
             60px 60px 0px 10px red,
             70px 60px 0px 10px black,
             80px 60px 0px 10px black,
             90px 60px 0px 10px red,
             100px 60px 0px 10px red,
             110px 60px 0px 10px red,
             120px 60px 0px 10px red,
             130px 60px 0px 10px black,
             140px 60px 0px 10px white,
             
             0px 70px 0px 10px white,
             10px 70px 0px 10px white,
             20px 70px 0px 10px black,
             30px 70px 0px 10px black,
             40px 70px 0px 10px red,
             50px 70px 0px 10px red,
             60px 70px 0px 10px black,
             70px 70px 0px 10px white,
             80px 70px 0px 10px silver,
             90px 70px 0px 10px black,
             100px 70px 0px 10px red,
             110px 70px 0px 10px red,
             120px 70px 0px 10px black,
             130px 70px 0px 10px black,
             140px 70px 0px 10px white,
            
             0px 80px 0px 10px white,
             10px 80px 0px 10px white,
             20px 80px 0px 10px black,
             30px 80px 0px 10px white,
             40px 80px 0px 10px black,
             50px 80px 0px 10px black,
             60px 80px 0px 10px black,
             70px 80px 0px 10px silver,
             80px 80px 0px 10px white,
             90px 80px 0px 10px black,
             100px 80px 0px 10px black,
             110px 80px 0px 10px black,
             120px 80px 0px 10px white,
             130px 80px 0px 10px black,
             140px 80px 0px 10px white,
             
             0px 90px 0px 10px white,
             10px 90px 0px 10px white,
             20px 90px 0px 10px white,
             30px 90px 0px 10px black,
             40px 90px 0px 10px white,
             50px 90px 0px 10px white,
             60px 90px 0px 10px white,
             70px 90px 0px 10px black,
             80px 90px 0px 10px black,
             90px 90px 0px 10px white,
             100px 90px 0px 10px white,
             110px 90px 0px 10px silver,
             120px 90px 0px 10px black,
             130px 90px 0px 10px white,
             140px 90px 0px 10px white,
             
             0px 100px 0px 10px white,
             10px 100px 0px 10px white,
             20px 100px 0px 10px white,
             30px 100px 0px 10px black,
             40px 100px 0px 10px white,
             50px 100px 0px 10px white,
             60px 100px 0px 10px white,
             70px 100px 0px 10px white,
             80px 100px 0px 10px white,
             90px 100px 0px 10px silver,
             100px 100px 0px 10px silver,
             110px 100px 0px 10px silver,
             120px 100px 0px 10px black,
             130px 100px 0px 10px white,
             140px 100px 0px 10px white,
             
             0px 110px 0px 10px white,
             10px 10px 0px 10px white,
             20px 110px 0px 10px white,
             30px 110px 0px 10px white,
             40px 110px 0px 10px black,
             50px 110px 0px 10px black,
             60px 110px 0px 10px silver,
             70px 110px 0px 10px silver,
             80px 110px 0px 10px silver,
             90px 110px 0px 10px silver,
             100px 110px 0px 10px black,
             110px 110px 0px 10px black,
             120px 110px 0px 10px white,
             130px 110px 0px 10px white,
             140px 110px 0px 10px white,
             
             0px 120px 0px 10px white,
             10px 120px 0px 10px white,
             20px 120px 0px 10px white,
             30px 120px 0px 10px white,
             40px 120px 0px 10px white,
             50px 120px 0px 10px white,
             60px 120px 0px 10px black,
             70px 120px 0px 10px black,
             80px 120px 0px 10px black,
             90px 120px 0px 10px black,
             100px 120px 0px 10px white,
             110px 120px 0px 10px white,
             120px 120px 0px 10px white,
             130px 120px 0px 10px white,
             140px 120px 0px 10px white
             
             
            