section
	background  gray url(../imgs/vamo_a_calmarno.png) no-repeat
	border 100px solid transparent
	width 400px
	height 100px
	margin 20px auto
	background-size 300px
	padding 100px
section.origen1
	background-origin border-box
section.origen2
	background-origin padding-box
	h2
		color green
section.origen3 
	background-origin content-box
	