section.multiples
	background-image url(../imgs/fondo3.png), url(../imgs/fondo2.png), url(../imgs/fondo1.png)
	background-repeat no repeat
	boder 4px solid gray
	height 453px
	magin 20px auto
	width 754px