section:before
	content "lol"
	color red
	font-size 10em	
section
	background-color green
	height 200px
	margin 20px auto
	width 300px
	transition width 2s, height 2s 2s, transform 2s 4s
section:hover
	height 400px
	transform rotate(45deg)
	width 600px
	