section {
  background-color: #f5bee5;
  border: 4px dotted #ba539f;
  height: 400px;
  width: 600px;
}
section div.box {
  background-color: #ba539f;
  height: 100px;
  width: 200px;
/* margenes:forma larga */
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 300px;
  margin-left: 250px;
/* margenes: forma corta */
  margin: 100px 130px 200px 250px;
}
