article {
  height: 250px;
  width: 350px;
  border-color: #ef4a4a;
  border-style: solid;
}
article.box1 {
/* ancho de bordes-forma larga */
  border-top-width: thin;
  border-right-width: 40px;
  border-bottom-width: thick;
  border-left-width: medium;
/* ancho de bordes-forma corta */
  border-with: thin 20px thick medium;
}
article.box2 {
/* colores bordes -forma larga */
  border-top-color: #ff0;
  border-right-color: #00f;
  border-bottom-color: #f00;
  border-left-color: #f0f;
/* colores bordes -forma corta */
  border-color: #ff0 #00f #f00 #f0f;
}
article.box3 {
/* estilo de  bordes-forma larga */
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: deshed;
  border-left-style: double;
/* estilo de  bordes-forma corta */
  border-style: solid dotted deshed double;
}
article.box4 {
/* bordes - shorthand */
  border: 10px dotted #9b3737;
}
