section {
  background: transparent url("../imgs/vamo_a_calmarno.png") no-repeat center center;
  border: 4px solid #0ff;
  height: 400px;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
}
section h2 {
  color: #0ff;
}
section.fondo1 {
  background-size: 100px;
}
section.fondo2 {
  background-size: 200px;
}
section.fondo3 {
  background-size: cover;
}
section.fondo4 {
  background-size: contain;
}
