body {
  background-color: #000;
}
h1 {
  text-align: center;
  color: #fff;
}
nav {
  margin: 0px auto;
  width: 620px;
}
li {
  background-color: #c0c0c0;
  padding: 20px;
  display: inline-block;
  transition: all 0.1s ease-in;
  border-radius: 40px;
  width: 100px;
  text-align: center;
}
li:hover {
  background-color: #00f;
  border: 2px solid #ff0;
  -webkit-transform: scale(1.2) skew(20deg) d;
  transform: scale(1.2) skew(20deg);
}
section.box2 {
  background: url("../imgs/dragon_ra.png") no-repeat;
  margin: 10px auto;
  width: 400px;
  height: 850px;
}
section.box2 {
  transition: all 0.5s ease-in;
}
section.box2:hover {
  -webkit-transform: rotate(180deg) scale(0.1);
  transform: rotate(180deg) scale(0.1);
}
