body,
html {
  background-color: rgba(102,221,204,0) en;
  background-image: linear-gradient(to right, rgba(0,0,0,0.05) 50%, transparent 0);
  background-size: 120px 100%;
  background-position: center center;
}
body {
  font: 16px arial;
  color: #aaebff;
}
main {
  margin: 20px auto;
  text-align: center;
  width: 800px;
}
main h1 {
  font-size: 4em;
  text-shadow: 0px 2px 10px #3b6e87;
}
main section#ventana {
  box-shadow: 0px 2px 10px #3b6e87;
  height: 480px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  width: 640px;
}
main section#ventana div {
  background-position: center center;
  background-repeat: repeat-x;
  position: absolute;
  height: 480px;
  width: 1280px;
}
main section#ventana div.cielo {
  animation: 12s parallax linear infinite;
  background-image: url("../imgs/parallax/back.png");
  z-inder: 1;
}
main section#ventana div.montanas {
  animation: 8s parallax linear infinite;
  background-image: url("../imgs/parallax/middle.png");
  z-inder: 2;
}
main section#ventana div.carretera {
  animation: 4s parallax linear infinite;
  background-image: url("../imgs/parallax/front.png");
  z-inder: 3;
}
main section#ventana div.personaje {
  background-image: url("../imgs/parallax/mario.gif");
  background-position: center 380px;
  background-repeat: no-repeat;
  width: 640px;
  z-inder: 4;
}
main section#ventana div.personaje:hover {
  background-position: center 280px;
}
@-moz-keyframes parallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
@-webkit-keyframes parallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
@-o-keyframes parallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
@keyframes parallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
